body {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 100%;
}

    .main-container .title {
        text-align: center;
        padding: 20px;
    }
    
    .main-container .buttons {
        padding: 20px;
        display: flex;
        grid-gap: 15px;
        justify-content: center;
    }
